
* {
    margin: 0;
}

.container {
    display: flex;
}

.container a {
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.contenedor1, .contenedor2 {
    width: 50%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor1 {
    background-color: blueviolet;
}

.contenedor2 {
    background-color: chartreuse;
}


/*TODO: Entre 320px y 374px */
@media screen and (min-width: 320px) and (max-width: 374px) {

    .container a {
        font-size: 30px;
    }

}

/*TODO: Entre 375px y 424px */
@media screen and (min-width: 375px) and (max-width: 424px) {

    .container a {
        font-size: 30px;
    }

}

/*TODO: Entre 425px y 578px */
@media screen and (min-width: 425px) and (max-width: 578px) {

    .container a {
        font-size: 40px;
    }

}
